<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: head(#{topbar.genres}, #{topbar.genres})}"></head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header class="Header" th:replace="~{fragments/header_fragment :: headFragment}">
</header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Жанры
            </h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div class="Tags" th:each="genre1 : ${allGenres}">
                        <div class="Tags-title">
                            <div class="Tag"><a th:href="'/genres/' + ${genre1.slug}"
                                                th:text="${genre1.name + '(' + genre1.books.size() + ')'}"></a>
                            </div>
                        </div>

                        <div class="Tags" th:each="genre2 : ${genre1.subGenres}"
                             th:remove="${genre2.subGenres.size() == 0} ? tag">
                            <div class="Tags-title" th:remove="${genre2.subGenres.size() == 0} ? tag">
                                <div class="Tag"><a th:href="'/genres/' + ${genre2.slug}"
                                                    th:text="${genre2.name + '(' + genre2.books.size() + ')'}"></a>
                                </div>
                            </div>

                            <div class="Tags" th:each="genre3 : ${genre2.subGenres}"
                                 th:remove="${genre3.subGenres.size() == 0} ? tag">
                                <div class="Tags-title" th:remove="${genre3.subGenres.size() == 0} ? tag">
                                    <div class="Tag"><a th:href="'/genres/' + ${genre3.slug}"
                                                        th:text="${genre3.name + '(' + genre3.books.size() + ')'}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/footer_fragment :: footFragment}">
</footer>

</body>
</html>