<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: head(#{topbar.genres}, #{topbar.genres})}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header class="Header" th:replace="~{fragments/header_fragment :: headFragment}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres">Жанры</a>
          </li>
          <li class="breadcrumbs-item" th:remove="${genreOne.parentName == null} ? all"><a th:href="'/genres/' + ${genreOne.parentSlug}" th:text="${genreOne.parentName}">Легкое чтение</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${genreOne.name}">Детективы</span>
          </li>
        </ul>
        <header class="Middle-header">
          <h1 class="Middle-title" th:text="${genreOne.name}">Детективы
          </h1>
        </header>
        <div class="Section">
          <div class="Cards Cards_refresh">
            <div class="Card" th:each="book : ${booksForGenre}">
              <div th:replace="~{fragments/oneBook::oneBook}"></div>
            </div>
            <div class="Cards-footer Cards-footer_center" th:remove="${genreOne.countBooks <= 20} ? all "><a class="btn btn_primary" href="#" data-refreshshow="genre" data-refreshoffset="20" data-refreshlimit="20" th:attr="data-refreshid=${genreOne.id}" >Показать еще</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer class="Footer" th:replace="~{fragments/footer_fragment :: footFragment}">
  </footer>
</body></html>