<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="oneBook">
    <a class="Card-picture" href="/books/slug.html">
        <img th:src="${book.image}" alt="card.jpg"/>
        <div class="Card-sale" th:if="${book.discount}"
             th:text="${book.discount + '% скидка'}"></div>
        <div class="Card-ribbon" th:if="${book.isBestseller}">
            <span class="Card-ribbonText">Бестселлер</span>
        </div>
        <a class="Card-status" title="Куплена" th:if="${book.status} == 'PAID'"><img
                src="/assets/img/icons/check.svg" alt="Куплена"></a>
        <a class="Card-status" title="В корзине" th:if="${book.status} == 'CART'"><img
                src="/assets/img/icons/shopping-basket.svg" alt="В корзине"></a>
        <a class="Card-status" title="Отложена" th:if="${book.status} == 'KEPT'"><img
                src="/assets/img/icons/heart.svg" alt="Отложена"></a>
    </a>
    <div class="Card-content">
        <strong class="Card-title">
            <a href="/books/slug.html" th:text="${book.title}"></a>
        </strong>
        <div class="Card-description" th:text="${book.author}">
        </div>
        <div class="Card-cost">
                                            <span class="Card-priceOld" th:if="${book.discount}"
                                                  th:text="${'₽' + book.price}"></span>
            <span class="Card-price" th:text="${'₽' + book.discountPrice}"></span>
        </div>
    </div>
</div>
</body>
</html>