<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: head(#{topbar.authors}, #{topbar.authors})}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header class="Header" th:replace="~{fragments/header_fragment :: headFragment}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title">Отложенное
        </h1>
        <form class="form Cart Cart_postponed" action="#" method="post">
          <div class="Cart-messageInfo" th:if="${totalBooks} == 0">Отложенных книг нет</div>
          <div class="Cart-product" th:each="book : ${books}">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#" th:href="@{'/books/' + ${book.slug}}"><img class="Cart-img" th:src="${book.image}" src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_info">
                  <div class="Cart-authorEntity" ><a href="#" th:text="${book.author}">Борис Васильевич Бедный</a>
                  </div>
                  <div class="Cart-title" th:text="${book.title}">
                  </div>
                  <div class="Cart-rating">
                    <span class="Rating">
                      <span class="Rating-stars">

                      <span class="Rating-star Rating-star_view" th:each="i : ${#numbers.sequence( 1, book.rating, 1)}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>

                      <span class="Rating-star" th:each="i : ${#numbers.sequence( 1, 5 - book.rating, 1)}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>

                    </span>
                    </span>
                  </div>
                  <div class="Cart-buttons">
                    <div class="Cart-btn">
                      <button class="btn btn_primary btn_outline" data-sendstatus="CART" th:attr="data-bookid = ${book.id}"><span class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></span><span class="btn-content">Купить</span>
                      </button>
                    </div>
                    <div class="Cart-btn">
                      <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK_KEPT" th:attr="data-bookid = ${book.id}"><span class="btn-icon"><img src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span class="btn-content">Удалить</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_price">
                  <div class="Cart-priceTitle">Цена:
                  </div>
                  <div class="Cart-price Cart-price_old" th:if="${book.discount}" th:text="${book.price} + р.">150 р.</div>
                  <div class="Cart-price Cart-price_old" th:if="${book.discount} == 0" style="visibility: hidden">0 р.</div>
                  <div class="Cart-price" th:text="${book.discountPrice}  + р.">100 р.
                  </div>
                  <div class="Cart-sale" th:if="${book.discount}" th:text="${book.discount} + '%'">-30%
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
            </div>
            <div class="Cart-block">
              <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART" th:if="${totalBooks} > 0" th:attr="data-bookid = ${bookIds}">Купить все
              </button>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
  <footer class="Footer" th:replace="~{fragments/footer_fragment :: footFragment}">
  </footer>
</body></html>