<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: head(#{topbar.popular}, #{topbar.popular})}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header class="Header" th:replace="~{fragments/header_fragment :: headFragment}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres">Книги</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span>Популярное</span>
          </li>
        </ul>
        <div class="Section">
          <div class="Section-header">
            <h1 class="Section-title">Популярное
            </h1>
          </div>
          <div class="Cards Cards_refresh">
            <div class="Card" th:each="book : ${popularBooks}">
              <div th:replace="~{fragments/oneBook::oneBook}"></div>
            </div>
            <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" data-refreshshow="popular" data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer class="Footer" th:replace="~{fragments/footer_fragment :: footFragment}">
  </footer>
</body></html>