<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: head(#{topbar.authors}, #{topbar.authors})}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header class="Header" th:replace="~{fragments/header_fragment :: headFragment}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/authors">Авторы</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${oneAuthor.name}"></span>
          </li>
        </ul>
        <h1 class="Middle-title" th:text="${oneAuthor.name}"></h1>
        <article class="Article">
          <div class="sdf">
          </div>
          <div class="Spoiler">
            <div class="Spoiler-visible">
              <div class="pict pict_left"><img th:src="${oneAuthor.photo}" alt="card.jpg"/>
              </div>
              <div>
                <h2>Биография
                </h2>
                <div th:text="${oneAuthor.visibleBiographyBlock}"></div>
              </div>
            </div>
            <div class="Spoiler-hide" th:text="${oneAuthor.hiddenBiographyBlock}">
            </div>
            <div class="Spoiler-footer" th:if="${oneAuthor.hiddenBiographyBlock.length() > 0}">
              <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть" data-hidetext="Показать полностью">
              </button>
            </div>
          </div>
        </article>
        <div class="Section">
          <header class="Section-header">
            <h2 class="Section-title">Книги автора
            </h2>
          </header>
          <div class="Cards Cards_search Cards_refresh">
            <div class="Card" th:each="book : ${authorsBooks}">
              <div th:replace="~{fragments/oneBook::oneBook}"></div>
            </div>
          </div>
          </div>
          <footer class="Section-footer" th:if="${oneAuthor.countBooks > 5}">
            <a class="Author-books" th:href="'/authors/allbooks/' + ${oneAuthor.slug}">
            Все книги автора<span class="Author-amount" th:text="${oneAuthor.countBooks}"></span>
            </a>
          </footer>
        </div>
      </main>
    </div>
  </div>
  <footer class="Footer" th:replace="~{fragments/footer_fragment :: footFragment}">
  </footer>

</body></html>